<div class="ribbon">
  <a href="https://github.com/codesteam/api-doc-editor">Fork me on GitHub</a>
</div>
<header class="jumbotron jumbotron-inverse mainheader">
    <div class="text-center">
        <%= image_tag "main_logo.png" %>
        <h1>Uranium - RESTful API Documentor</h1>
        <br/>
        <%= link_to 'Try it now!', :site_editor, class: 'btn btn-danger btn-lg' %>
        &nbsp;
        &nbsp;
        &nbsp;
        <%= link_to 'Read docs', :site_doc, class: 'btn btn-success btn-lg' %>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>A useful interface to your RESTful API</h3>
            <br/>
            <p>
                Uranium is a simple and powerful representation of your RESTful API. 
                With a Uranium you get interactive documentation.
            </p>
            <p>
                We created Uranium to help fulfill the promise of APIs. And it's 100% open source software.
            </p>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-offset-1 col-md-3 text-center">
            <%= image_tag "features_1.png" %>
            <p>
                Support YAML and JSON config file format.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <%= image_tag "features_2.png" %>
            <p>
                100% open source software.
            </p>
        </div>
        <div class="col-md-3 text-center">
            <%= image_tag "features_3.png" %>
            <p>
                No installation needed. You can generate documentation in 
                <%= link_to 'online editor', :site_editor %>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Uranium Tools</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
            <pre>Some code will be there</pre>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
        </div>
    </div>
</div>
