<!DOCTYPE html>
<html>
<head>
  <title>RESTful API documentor</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-7">
          <h3 class="footer-title">RESTful API documentor</h3>
          <p>
            For us on GitHub.<br>
            Go to: <a href="https://github.com/codesteam/" target="_blank">github.com/codesteam/</a>
          </p>
        </div>
        <div class="col-xs-5">
          <div class="footer-banner">
            <h3 class="footer-title">Uranium</h3>
            <ul>
              <li>Try Uranium <%= link_to 'online editor', :site_editor %></li>
              <li>Read detailed <%= link_to 'documentation', :site_doc %></li>
              <li>Fork Uranium on <a href="https://github.com/codesteam/" target="_blank">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
